<!--
* @Author                : 0K00<qdouvillez@gmail.com>
* @CreatedDate           : 2023-11-18 19:05:00
* @LastEditors           : 0K00<qdouvillez@gmail.com>
* @LastEditDate          : 2023-11-18 22:39:27
* @FilePath              : feely/client/src/app/views/login/login.view.html
* @CopyRight             : MerBleueAviation
-->

<div class="login">
  <input class="input" type="text" name="name" id="name" [(ngModel)]="name" />
  <input class="input" type="text" name="password" id="password" [(ngModel)]="password" />
  <button class="button" (click)="connect()">Connecter</button>
</div>
